<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedPlace.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-item lines="none" class="ion-margin-vertical">
          <ion-thumbnail slot="start">
            <ion-img [src]="selectedPlace.imageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <p>{{ selectedPlace.description }}</p>
            <p>{{ selectedPlace.price | currency }} / night</p>
            <ion-chip [color]="chipColor">
              <ion-label [color]="chipColor">{{ chipLabel }}</ion-label>
            </ion-chip>
          </ion-label>
        </ion-item>
        <ion-button color="success" expand="block" class="ion-margin" (click)="onBookPlace()">
          <ion-icon name="heart-circle-outline" slot="start"></ion-icon>
          Book!
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>